<section>
    <div class="uk-padding-large uk-padding-remove-bottom" uk-scrollspy="cls:uk-animation-fade; target: > h2; delay: 350; repeat: false;">
        <h2>{$page->title}</h2>
    </div>
    <div class="uk-height-viewport uk-padding-large" uk-scrollspy="cls:uk-animation-fade; target: > div; delay: 350; repeat: false;">
        {foreach $page->events_appearances_matrix->reverse() as $item}

            <div>
                <table class="uk-table uk-table-divider uk-table-responsive uk-margin-remove-top helvetica-neue">
                    <tbody>
                        <tr class="uk-table-expand">
                            {if $item??->post_date}
                                <td class="uk-width-small uk-padding-small uk-padding-remove-left uk-padding-remove-top" 
                                    uk-tooltip="{$item->post_date}">
                                    {date('Y', DateTime::createFromFormat('Y F j H:i:s', $item->post_date)->getTimestamp())}
                                </td>

                                <td class="uk-width-xlarge uk-padding-remove-top uk-padding-remove-left">
                                    {$item->textarea_tinymce|noescape}
                                </td>
                            {elseif $item??->date_range}
                                <td class="uk-width-small uk-padding-small uk-padding-remove-left uk-padding-remove-top"> {* uk-tooltip="{$item->date_range} *}
                                    {date('Y', strtotime($item->date_range->date_from))}-{date('Y', strtotime($item->date_range->date_to))}
                                </td>

                                <td class="uk-width-xlarge uk-padding-remove-top uk-padding-remove-left">
                                    {$item->textarea_tinymce|noescape}
                                </td>
                            {/if}

                        </tr>
                    </tbody>
                </table>
            </div>

        {/foreach}
    </div>  
</section>