<section 
    class="uk-width-1-1" uk-height-viewport="expand: true;" 
    uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 350; repeat: false;">
    
    <div class="uk-width-1-1 uk-width-2-3@m uk-width-3-5@l uk-margin-auto uk-display-block uk-padding">
        <h2>Contact</h2>
        <p class="uk-text-muted">
            You can contact me by filling out the form below.
        </p>

        {$contactFormHtml|noescape}
        
    </div>
</section>