<section class="uk-width-1-1" uk-height-viewport="expand: true;">

    <div>
        <div class="uk-child-width-expand@m uk-margin-auto uk-padding uk-padding-remove-bottom uk-flex-center"
            uk-height-viewport="expand: true;" 
            uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 350; repeat: false;"
            uk-grid>

            {* render the repeater matrix *}
            {$rockfrontend->render("/sections/includes/repeater-matrix-default.latte")}
        </div>
    </div>

</section>