<section uk-height-viewport="expand: true;">
    <div class="uk-padding-large uk-padding-remove-bottom" uk-scrollspy="cls:uk-animation-fade; target: > h2; delay: 350; repeat: false;">
        <h2>{$page->title}</h2>
    </div>
    <div class="uk-padding-large" uk-scrollspy="cls:uk-animation-fade; target: > div; delay: 350; repeat: false;">
        {foreach $page->organizations_table as $item}
            <div>
                <table class="uk-table uk-table-divider uk-table-responsive uk-margin-remove-top helvetica-neue">
                    <tbody>
                        <tr class="uk-table-expand">
                            <td class="uk-width-small uk-padding-small uk-padding-remove-left uk-padding-remove-top">
                                <strong>{$item->organization|noescape}</strong></td>
                            <td class="uk-width-large uk-padding-remove-top uk-padding-remove-left">
                                {$item->description|noescape}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {/foreach}
    </div>  
</section>